.p-checkbox {
    display: inline-flex;
    user-select: none;
    vertical-align: bottom;
    position: relative;
}

.p-checkbox-disabled {
    pointer-events: none;
}

.p-checkbox-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

p-checkbox {
    display: inline-flex;
    vertical-align: bottom;
    align-items: center;
}

.p-checkbox-label {
    line-height: 1;
}

.p-checkbox-container:not(.p-checkbox-disabled) {
    cursor: pointer;
}
